
.fa.fa-plus-square.clickable:hover {
    color: #77bfa1;
}

.clickable:hover {
    cursor: pointer;
}

.hover-delete {
    visibility: hidden;
    z-index: 0;
}

.list-group-item:hover .hover-delete {
    visibility: visible;
    z-index: 100;
}

.hover-delete:hover {
    color: #ffffff;
    cursor: pointer;
}

#autoschedule-btn {
    margin-top: 5px;
}

@media print {
    .fc-scroller {
        height: initial !important;
    }
    .fc-time-grid-event .fc-time, .fc-time-grid-event .fc-title {
        display: inline-block !important;
        vertical-align: top !important;
        font-size: .75em !important;
        padding: 0 2px !important;
        white-space: nowrap !important;
    }
    .fc-time-grid-event .fc-resizer {
        display: none;
    }
    .event-students {
        font-size: .75em;
        margin-left: .75em;
        margin-top: -0.25em;
    }
}