
.fa.fa-plus-square.clickable:hover {
    color: #77bfa1;
}

.clickable:hover {
    cursor: pointer;
}

.hover-delete {
    visibility: hidden;
    z-index: 0;
}

.list-group-item:hover .hover-delete {
    visibility: visible;
    z-index: 100;
}

.hover-delete:hover {
    color: #ffffff;
    cursor: pointer;
}

#autoschedule-btn {
    margin-top: 5px;
}

#your-schedule.slot-height-40 .fc-agenda-slots td div {
    height: 40px !important;
}
#your-schedule.slot-height-45 .fc-agenda-slots td div {
    height: 45px !important;
}
#your-schedule.slot-height-50 .fc-agenda-slots td div {
    height: 50px !important;
}
#your-schedule.slot-height-55 .fc-agenda-slots td div {
    height: 55px !important;
}
#your-schedule.slot-height-60 .fc-agenda-slots td div {
    height: 60px !important;
}
#your-schedule.slot-height-65 .fc-agenda-slots td div {
    height: 65px !important;
}
#your-schedule.slot-height-70 .fc-agenda-slots td div {
    height: 70px !important;
}
#your-schedule.slot-height-75 .fc-agenda-slots td div {
    height: 75px !important;
}